body {
    font-family: 'Lato';
    font-size: 12px;
    padding-top: 1.85rem;
}

p {
    font-size: medium;
}

.dice {
    width: 100px;
    height: 100px;
}

.red {
    color: #dc4444;
}

.player-inner {
    padding: 1rem 3rem;
}

.bold {
    font-weight: bold;
}